<div class="words-list-page">
  <app-top-menu></app-top-menu>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-2">
        <app-side-menu></app-side-menu>
      </div>
      <div class="col-md-10 mx-auto">
        <app-shared-word-list
          [words]="words$ | async"
          [isMainActionButton]="true"
          [isSecondaryActionButton]="true"
          [isImage]="true"
          (mainAction)="editWord($event)"
          (secondaryAction)="removeWord($event)"
        ></app-shared-word-list>
      </div>
    </div>
  </div>
</div>
