<div class="container regiser-form">
    <div class="row"></div>
    <form [formGroup]="registerForm" (submit)="register()">
        <div class="form-group row mt-2">
            <label for="login" class="col-sm-2 col-form-label field-required">Login:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="login" formControlName="login">
            </div>
            <ng-container *ngIf="(registerForm.controls['login'].invalid && registerForm.controls['login'].touched)">
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert">
                            Login is required
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="form-group row mt-2">
            <label for="password" class="col-sm-2 col-form-label field-required">Password:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="password" formControlName="password">
            </div>
            <ng-container
                *ngIf="(registerForm.controls['password'].invalid && registerForm.controls['password'].touched)">
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert">
                            Password is required
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="form-group row mt-2">
            <label for="email" class="col-sm-2 col-form-label field-required">Email:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="email" formControlName="email">
            </div>
            <ng-container *ngIf="(registerForm.controls['email'].invalid && registerForm.controls['email'].touched)">
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert">
                            Email is required
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-md-4 mx-auto">
                <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Submit</button>
            </div>
        </div>
        <div class="row"></div>
    </form>
</div>