<div class="container login-form">
  <div class="row"></div>
  <form [formGroup]="loginForm" (submit)="login()">
    <!--login-->
    <div class="form-group row mt-2">
      <label for="login" class="col-md-2 col-form-label field-required"
        >{{ "LABEL.LOGIN" | translate }}:</label
      >
      <div class="col-md-10">
        <input
          type="text"
          class="form-control"
          id="login"
          formControlName="login"
        />
      </div>
    </div>
    <!--password-->
    <div class="form-group row mt-2">
      <label for="password" class="col-md-2 col-form-label field-required"
        >{{ "LABEL.PASSWORD" | translate }}:</label
      >
      <div class="col-md-10">
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>
    </div>
    <!--buttons panel-->
    <div class="row mt-2 mb-2">
      <div class="col-md-4 col-lg-3 mx-auto">
        <button
          type="submit"
          class="btn btn-primary w-100"
          [disabled]="loginForm.invalid"
        >
          {{ "LABEL.LOGIN" | translate }}
        </button>
      </div>
    </div>
    <div class="row"></div>
  </form>
  <div class="row">
    <div class="col-md-4 col-lg-3 mb-2 mx-auto">
      <button class="btn btn-danger w-100" [routerLink]="['/register']">
        {{ "LABEL.REGISTER" | translate }}
      </button>
    </div>
  </div>
</div>
