<div class="container-fluid learning-translate" [ngClass]="{
    'correct-answer-container': checkedAnswer && correctAnswer,
    'wrong-answer-container': checkedAnswer && !correctAnswer
  }">

    <div class="row text-center">
        <p>{{learningWord.value | textWithSynonyms }}</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                (keyup.enter)="handleOnEnter()" placeholder="Answer" #yourAnswer appUmlautKey>
        </div>
    </div>

    <ng-container *ngIf="!checkedAnswer">
        <div class="row mt-2 justify-content-center">
            <div class="col-md-6">
                <app-german-keyboard (selectKey)="onGermanKeySelect($event)">
                </app-german-keyboard>
            </div>
        </div>
    </ng-container>

    <div class="row mt-2 justify-content-center text-center">
        <div class="col-md-12">
            <ng-container *ngIf="!checkedAnswer">
                <input type="button" class="btn btn-success" value="Check" (click)="checkAnswer()" />
            </ng-container>
            <ng-container *ngIf="checkedAnswer">
                <ng-container *ngIf="!correctAnswer">
                    <span>{{learningWord.answer | textWithSynonyms}}</span>
                </ng-container>
                <div class="mt-2">
                    <input type="button" class="btn btn-success" value="Next" (click)="selectNextWord()" />
                </div>
                <div class="mt-2">
                    <img src="data:image/jpg;base64, {{ learningWord.image }}" class="word-image" />
                </div>
                <div class="mt-2">
                    <p class="example">{{learningWord.example}}</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>