<div class="containter-fluid learning-page">
    <div class="container-fluid cancel-button-container">
        <button class="btn btn-danger" (click)="cancelLearning()">X</button>
    </div>
    <ng-container *ngIf="selectedMode===null">
        <app-learning-mode (learningModeSelection)="selectMode($event)"></app-learning-mode>
    </ng-container>
    <ng-container *ngIf="selectedMode!==null && (this.learningWords$|async).length>0">
        <div class="container-fluid learning-translate-container">
            <app-learning-translate [learningWords]="learningWords$ | async" class="learning-translate"
                (finishLearning)="finishLearning($event)"></app-learning-translate>
        </div>
    </ng-container>
    <ng-container *ngIf="learningResult">
        <app-learning-result [learningResult]="learningResult" (resultSave)="saveResult()"></app-learning-result>
    </ng-container>
</div>