@use './../../../../../assets/styles/variables' as v;

.learning-page {
    width: 100%;
    background-color: v.$background-color-primary;
}

.cancel-button-container {
    top: 40px;
    right: 100px;
    position: absolute;
    height: 30px;
    width: 30px;
}

.learning-translate-container {
    margin-top: 6%;
}