<div class="container">
    <div class="row justify-content-center">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <app-key [keyValue]="'Shift'" (selectKey)="shiftOnAction()"></app-key>
                <ng-container *ngFor="let key of keyValues">
                    <app-key [keyValue]="key" (selectKey)="germanKeyOnAction($event)"></app-key>
                </ng-container>
            </div>
        </div>
    </div>
</div>