<div class="container">
    <div class="row">
        <app-learning-packets-filters [packetsFilter]="packetsFilter"
            (languageSelection)="selectLanguage($event)"
            (repeatsModeChange)="changeRepeatsMode()"
            (scoreNot100Change)="scoreNot100ChangeMode()"></app-learning-packets-filters>
    </div>
    <div class="row">
        <div class="col-md-4">Name</div>
        <div class="col-md-1">Value Language</div>
        <div class="col-md-1">Translation Language</div>
        <div class="col-md-1">Size</div>
        <div class="col-md-2">Last learned</div>
        <div class="col-md-1">Last Score</div>
        <div class="col-md-1">Best Score</div>
        <div class="col-md-1">Repetitions</div>
    </div>
    <ng-container *ngFor="let learningPacket of learningPackets">
        <div class="row single-packet-row"
            [ngClass]="{ 'selected-packet': learningPacket.packetId===currentLearningPacketId}">
            <app-single-learning-packet [learningPacket]="learningPacket"></app-single-learning-packet>
        </div>
    </ng-container>
</div>