.single-packet-row {
    height: 50px;
    font-size: 1.2rem;
    cursor: pointer;
}

.single-packet-row:nth-child(even) {
    background-color: darkgray;
}

.single-packet-row:nth-child(odd) {
    background-color: lightgray;
}

.btn-success {
    width: 100%;
}

.selected-packet {
    border-style: solid;
    border-width: 3px;
    border-color: darkgoldenrod;
}