<div class="container side-menu">
  <div class="row mt-2">
    <div class="col-md-12">
      <input type="button" class="btn btn-secondary" [routerLink]="['/words/add']" value="Add Word" />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <input type="button" class="btn btn-secondary" [routerLink]="['/words']" value="List" />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <input type="button" class="btn btn-secondary" [routerLink]="['/packets']" value="Packets" />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <input type="button" class="btn btn-secondary" [routerLink]="['/learn']" value="Learn" />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <input type="button" class="btn btn-secondary" [routerLink]="['/games']" value="Games" />
    </div>
  </div>
</div>