<div class="container">
  <div class="row">
    <div class="col-md-3">Name</div>
    <div class="col-md-3">Description</div>
    <div class="col-md-2">Value Language</div>
    <div class="col-md-2">Translation Language</div>
    <div class="col-md-2">Size</div>
  </div>
  <ng-container *ngFor="let packet of packets">
    <div class="row" class="single-packet-row">
      <app-single-packet [packet]="packet"></app-single-packet>
    </div>
  </ng-container>
  <div class="row mt-2">
    <div class="offset-md-10 col-md-2">
      <input
        class="btn btn-success"
        type="button"
        [routerLink]="['/packets/create']"
        value="+"
      />
    </div>
  </div>
</div>
