<div class="container">
  <ng-container *ngIf="isWordFilter">
    <div class="row mb-2">
      <app-word-search (wordFilter)="emitWordFilter($event)"></app-word-search>
    </div>
  </ng-container>
  <div class="row table-header mb-2">
    <div class="text-center" [ngStyle]="{ width: bigColSize }">Value</div>
    <div class="text-center" [ngStyle]="{ width: bigColSize }">Translation</div>
    <div class="text-center" [ngStyle]="{ width: smallColSize }">
      Val. Lang.
    </div>
    <div class="text-center" [ngStyle]="{ width: smallColSize }">
      Tran. Lang.
    </div>
    <div *ngIf="isUsed" class="text-center" [ngStyle]="{ width: smallColSize }">
      Used
    </div>
    <div *ngIf="isImage" class="text-center" [ngStyle]="{ width: bigColSize }">
      Image
    </div>
  </div>
  <ng-container *ngFor="let word of words">
    <div class="row" class="single-word-row">
      <app-single-word
        [isImage]="isImage"
        [isUsed]="isUsed"
        [isMainActionButton]="isMainActionButton"
        [isSecondaryActionButton]="isSecondaryActionButton"
        [word]="word"
        (mainAction)="emitMainAction($event)"
        (secondaryAction)="emitSecondaryAction($event)"
      ></app-single-word>
    </div>
  </ng-container>
  <div class="row mt-2">
    <div class="offset-md-9 col-md-3">
      <app-page-picker [numberOfWords]="numberOfWords" (pageSelection)="selectPage($event)"></app-page-picker>
    </div>
  </div>
</div>
