.single-word-row:nth-child(even) {
  background-color: darkgray;
}
.single-word-row:nth-child(odd) {
  background-color: lightgray;
}
.table-header {
  background-color: rgb(110, 107, 107);
  color: white;
}
