.progress-bar {
    width: 100%;
    height: 50px;
    background-color: red;
}

.progress-bar-inner {
    height: 50px;
    background-color: green;
}

.number-of-words {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}